<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>cambiarprecio</name>
	<displayName><![CDATA[aumenta o disminuye ]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[aumentar o disminuir el precio de los productos]]></description>
	<author><![CDATA[fjrus]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
